# Core Vision & Processing
opencv-python
mediapipe==0.10.11
numpy

# Critical Fix for AttributeError / Protobuf issues
protobuf

# Haptic Integration
bhaptics-python

#Audio playing-processing
librosa
sounddevice
